{% layout project %}

{% block main %}
    <section class="about">
        <h2>E-Commerce Application (CS50W)</h2>
        <p>A Python Django-based web-application for purchasing software subscriptions. This was my final project for HarvardX CS50W. I was given free reign to develop any type of application that I chose as long as I met course requirements. A software subscription e-commerce project was in the discovery phase at my workplace so I choose to develop an application that could possibly be spun-off into the final product, or simply serve as a prototype. While it never left the prototype phase, its development prepared me for designing, managing, and developing the final-customer facing product which was added into an existing enterprise application.</p>
        <p>The businesses requirements of the application included: customer registration, shopping cart, customer licensee management, and merchant administrative tools.</p>
        <h4>My Role</h4>
        <p>I designed and developed this application based on course submission requirements</p>
        <h4>Technology</h4>
        <p>Python, JavaScript, Django, Bootstrap 4, SQLite</p>
        <h4>Source Code</h4>
        <p><a href="https://github.com/st003/CS50w-Final-Project" target="_blank">https://github.com/st003/CS50w-Final-Project</a></p>
    </section>

    <div class="slideShowContainer">
        <div class="slideShowContentContainer">
            <div class="slideShowContent active">
                <div class="slideShowCaption">Browse available software subscriptions</div>
                <div class="slideShowImgContainer">
                    <img src="{% path static/img/ecom/home-01.png %}" alt="home page">
                </div>
            </div>
            <div class="slideShowContent">
                <div class="slideShowCaption">Browse available software subscriptions (Phone)</div>
                <div class="slideShowImgContainer">
                    <img class="mobile" src="{% path static/img/ecom/home-02.png %}" alt="home page phone">
                </div>
            </div>
            <div class="slideShowContent">
                <div class="slideShowCaption">New customers register for an account</div>
                <div class="slideShowImgContainer">
                    <img src="{% path static/img/ecom/register-01.png %}" alt="register">
                </div>
            </div>
            <div class="slideShowContent">
                <div class="slideShowCaption">Add subscriptions to your cart</div>
                <div class="slideShowImgContainer">
                    <img src="{% path static/img/ecom/shop-01.png %}" alt="shop">
                </div>
            </div>
            <div class="slideShowContent">
                <div class="slideShowCaption">Add subscriptions to your cart (Phone)</div>
                <div class="slideShowImgContainer">
                    <img class="mobile" src="{% path static/img/ecom/shop-02.png %}" alt="shop phone">
                </div>
            </div>
            <div class="slideShowContent">
                <div class="slideShowCaption">See more details on the subscriptions for sale</div>
                <div class="slideShowImgContainer">
                    <img src="{% path static/img/ecom/item-01.png %}" alt="item page">
                </div>
            </div>
            <div class="slideShowContent">
                <div class="slideShowCaption">See more details on the subscriptions for sale (Phone)</div>
                <div class="slideShowImgContainer">
                    <img class="mobile" src="{% path static/img/ecom/item-02.png %}" alt="item page phone">
                </div>
            </div>
            <div class="slideShowContent">
                <div class="slideShowCaption">Add subscriptions to your cart</div>
                <div class="slideShowImgContainer">
                    <img src="{% path static/img/ecom/cart-01.png %}" alt="cart">
                </div>
            </div>
            <div class="slideShowContent">
                <div class="slideShowCaption">Customers may add additional non-purchasing users...</div>
                <div class="slideShowImgContainer">
                    <img src="{% path static/img/ecom/users-01.png %}" alt="customer users">
                </div>
            </div>
            <div class="slideShowContent">
                <div class="slideShowCaption">...and assign subscription licenses to them</div>
                <div class="slideShowImgContainer">
                    <img src="{% path static/img/ecom/assign-01.png %}" alt="assign license">
                </div>
            </div>
            <div class="slideShowContent">
                <div class="slideShowCaption">Review your purchase history</div>
                <div class="slideShowImgContainer">
                    <img src="{% path static/img/ecom/history-01.png %}" alt="purchase history">
                </div>
            </div>
            <div class="slideShowContent">
                <div class="slideShowCaption">Merchant administrators can manage products...</div>
                <div class="slideShowImgContainer">
                    <img src="{% path static/img/ecom/products-01.png %}" alt="products">
                </div>
            </div>
            <div class="slideShowContent">
                <div class="slideShowCaption">customers...</div>
                <div class="slideShowImgContainer">
                    <img src="{% path static/img/ecom/user-admin-01.png %}" alt="customers">
                </div>
            </div>
            <div class="slideShowContent">
                <div class="slideShowCaption">...and transactions</div>
                <div class="slideShowImgContainer">
                    <img src="{% path static/img/ecom/reports-01.png %}" alt="reporting">
                </div>
            </div>
            <div class="slideShowContent">
                <div class="slideShowCaption">Additionally, the Django admin is available...</div>
                <div class="slideShowImgContainer">
                    <img src="{% path static/img/ecom/admin-01.png %}" alt="django admin 1">
                </div>
            </div>
            <div class="slideShowContent">
                <div class="slideShowCaption">...for more detailed database administration</div>
                <div class="slideShowImgContainer">
                    <img src="{% path static/img/ecom/admin-02.png %}" alt="django admin 2">
                </div>
            </div>
        </div>
        <div class="slideShowControls">
            <button class="slideShowButton prev">&#10094;</button>
            <div class="slideShowControlOptions">
                <div class="slideShowCounter"></div>
            </div>
            <button class="slideShowButton next">&#10095;</button>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <a href="{% path projects/leo/index.html %}">&#10094; Previous</a>
    <span></span>
    <a class="next" href="{% path projects/im/index.html %}">Next &#10095;</a>
{% endblock %}
