:root {
    --primary-color: #333;
    --secondary-color: #8A9A5B;
    --neutral-color: #EEE;
    --box-shadow-color: #CCC;
    --dark-text: #222;
    --light-text: white;
}

html {
    font-size: 0.95rem;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Helvetica;
    color: var(--dark-text);
    line-height: 1.5;
}

.contentContainer {
    flex-grow: 1;
}

header {
    display: block;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--light-text);
}
header .title {
    color: var(--light-text);
}
.title .titleName, .title .titleJob {
    display: block;
}
.title .titleDivider {
    display: none;
}
.title .titleJob {
    font-size: 1.25rem;
}
header .social-media {
    margin-top: 0.5rem;
    text-align: left;
}
header .social-media a {
    margin-right: 0.5rem;
    margin-left: 0;
    font-size: 2rem;
    color: var(--light-text);
}
header .social-media a:hover, header .title h1:hover {
    color: var(--secondary-color);
}
header .social-media a:active, header .title h1:hover {
    opacity: 1.0;
}

footer {
    display: flex;
    padding: 1rem;
    background-color: var(--primary-color);
}
footer a {
    padding: 1rem;
    background-color: var(--secondary-color);
    border-radius: 0.25rem;
    color: var(--light-text);
    font-size: 1rem;
    font-weight: 700;
}
footer a:hover {
    color: var(--primary-color);
}
footer span {
    margin: 0 0.25rem;
    flex-grow: 1;
}

h1, h2, h3, h4 {
    margin: 0;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
}
h4 {
    font-size: 1.2rem;
}
p {
    margin-top: 0;
}
ul {
    padding-left: 1rem;
    list-style-type: square;
}
a {
    text-decoration: none;
}
section {
    padding: 0.75rem;
}

.homeContainer {
    padding: 0.75rem;
    background-color: var(--primary-color);
}
.homeContainer h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--light-text);
    text-align: center;
}

.homeTitle {
    padding: 1.5rem;
    color: var(--light-text);
    text-align: center;
    animation: fade 1.25s forwards;
}
.homeTitle h1 {
    font-size: 2.5rem;
}
.homeTitle h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}
.homeTitle .socialMedia a {
    padding: 0 0.5rem;
    color: var(--light-text);
    font-size: 2rem;
}
.homeTitle .socialMedia a:hover {
    color: var(--secondary-color);
}
.homeTitle hr {
    width: 50%;
    height: 0.25rem;
    background-color: var(--light-text);
}

.homeTitle nav {
    margin-top: 1rem;
}
.homeTitle nav a {
    padding: 0 0.5rem;
    color: var(--light-text);
    font-size: 1.25rem;
}
.homeTitle nav a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

#about, #tech, #projects {
    opacity: 0;
    text-decoration: underline;
}
.about, .skills, .projects, .image img {
    opacity: 0;
    background-color: var(--neutral-color);
}
.about p, .about ul {
    font-size: 1.15rem;
}
#about, .about, #tech, .skills, #projects, .projects, .image img {
    animation: fade 1.25s forwards;
}
#about, .about {
    animation-delay: 0.35s;
}
#tech, .skills, .image img {
    animation-delay: 0.7s;
}
#projects, .projects {
    animation-delay: 1.0s;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill {
    width: 125px;
    padding: 0.5rem 1rem;
    text-align: center;
}
.skill .icon {
    font-size: 3.5rem;
}
.skill h3 {
    margin-top: 0.5rem;
    font-size: 1.15rem;
}
.skill ul {
    margin-top: 0.5rem;
    padding-left: 0;
    list-style-type: none;
    font-size: 1rem;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project {
    display: block;
    width: 100%;
    height: 14rem;
    margin: 0.5rem;
    background-size: cover;
    border: 2px solid var(--primary-color);
    border-radius: 0.25rem;
}
.project:hover {
    animation: projectHoverSmall 0.1s forwards;
}
.project a {
    display: block;
    height: 100%;
}
.project a:hover {
    background-color: rgba(0, 128, 0, 0.3);
}
.project a:active {
    background-color: rgba(0, 128, 0, 0.8);
}

.projectPageContainer {
    padding: 0.75rem;
}
.project h3 {
    padding: 0.75rem 0.75rem 0.25rem 0.75rem;
    opacity: 0.8;
    background-color: var(--primary-color);
    text-align: center;
    font-size: 1.15rem;
    color: var(--light-text);
}

.image {
    position: relative;
    margin-top: 0.75rem;
    padding: 0;
}
.image:hover {
    cursor: pointer;
}
.image img {
    width: 100%;
}

/* slideshow */
.slideShowContainer {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    opacity: 0;
    animation: fade 1.25s forwards;
    animation-delay: 0.7s;
}
.slideShowControls {
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
    border-top: 1px solid var(--primary-color);
}
.slideShowControls .slideShowButton {
    flex-grow: 1;
    padding: 1rem 0 !important;
}
.slideShowControls .slideShowButton.prev {
    margin-right: 0.25rem;
}
.slideShowControls .slideShowButton.next {
    margin-left: 0.25rem;
}
.slideShowControls .slideShowButton {
    padding: 0 1rem;
    background-color: var(--neutral-color);
    border: none;
    border-radius: 0.25rem;
    color: var(--dark-text);
    cursor: pointer;
}
.slideShowControls .slideShowButton:hover {
    background-color: var(--box-shadow-color);
}
.slideShowControls .slideShowControlOptions {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral-color);
}
.slideShowControls .slideShowControlOptions > * {
    margin: 0 0.25rem;
}
.slideShowControls .slideShowControlOptions .slideShowCounter {
    font-size: 1.25rem;
}
.slideShowContentContainer {
    flex-grow: 1;
    margin-bottom: 0.5rem;
    text-align: center;
}
.slideShowContent {
    display: none;
    flex-direction: column;
    max-height: 300px;
}
.slideShowContent.active {
    display: flex;
}
.slideShowCaption {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: var(--neutral-color);
}
.slideShowImgContainer {
    overflow-y: scroll;
}
.slideShowContent .beforeAfterToggle {
    width: 100%;
    margin-top: 0.25rem;
    padding: 0.75rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 0.25rem;
    color: var(--light-text);
    font-size: 1rem;
    cursor: pointer;
}
.slideShowContent .beforeAfterToggle:hover {
    opacity: 0.7;
}

.slideShowImgContainer .before {
    display: none;
}
.slideShowImgContainer img {
    width: 100%;
}
.slideShowImgContainer img.mobile {
    width: 100%;
}

/* PROJECTS */
#olp {
    background-image: url("../img/olp/dashboard-01.png");
    background-position: center;
}
#ils {
    background-image: url("../img/ils/aviation-lms.jpg");
    background-position: center;
}
#trivia {
    background-image: url("../img/kt/analytics-01-crop.png");
    background-position: center;
}
#invnbis {
    background-image: url("../img/invnbis/reports-01.png");
    background-position: center;
}
#invphpmc {
    background-image: url("../img/invphpmc/reports-01.png");
    background-position: center;
}
#wh {
    background-image: url("../img/wh/home-01.png");
    background-position: center;
}
#staticsite {
    background-image: url("../img/static/code.png");
    background-position: center;
}
#flashcards {
    background-image: url("../img/flashcards/filters.png");
    background-position: center;
}
#msc {
    background-image: url("../img/msc/home-01-crop.png");
    background-position: center;
}
#il {
    background-image: url("../img/il/il-home-01-crop.png");
    background-position: center;
}
#arff {
    background-image: url("../img/arff/arff-index-01-crop.png");
    background-position: center;
}
#leo {
    background-image: url("../img/leo/home-01-crop.png");
    background-position: center;
}
#ecom {
    background-image: url("../img/ecom/home-01.png");
    background-position: center;
}
#im {
    background-image: url("../img/im/channel.png");
    background-position: center;
}

/* MEDIA QUERIES
 *
 * Breakpoints based on Bootstrap 5
 */

/* small devices */
@media (min-width: 576px) {
    header {
        display: flex;
    }
    .title .titleName, .title .titleJob {
        display: inline;
    }
    .title .titleDivider {
        display: inline;
    }
    .title .titleJob {
        font-size: 1.5rem;
    }
    header .social-media {
        flex-grow: 1;
        margin-top: 0;
        text-align: right;
    }
    header .social-media a {
        margin-right: 0;
        margin-left: 0.5rem;
        font-size: 1.5rem;
    }
    .slideshowNav {
        transform: translate(50%, 50%);
    }
}

/* medium devices */
@media (min-width: 768px) {
    h2 {
        font-size: 2.25rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    .homeContainer {
        padding: 2rem;
    }
    .homeContainer h2 {
        margin-top: 2.5rem;
    }
    .homeTitle {
        padding: 2rem;
    }
    .homeTitle h1 {
        font-size: 3rem;
    }
    .homeTitle h2 {
        font-size: 2.25rem;
    }
    .homeTitle hr {
        width: 33%;
    }
    .homeTitle nav a {
        font-size: 1.5rem;
    }
    .about p, .about ul, .skills p {
        font-size: 1.25rem;
    }
    .skill {
        width: 200px;
    }
    .project {
        display: inline-block;
        width: 23rem;
    }
    .slideshowNav {
        transform: translate(50%, 125%);
    }

    .slideShowContent {
        max-height: 500px;
    }
    .slideShowImgContainer img.mobile {
        width: auto;
        border: 1px solid var(--primary-color);
    }
}

/* large devices */
@media (min-width: 992px) {
    .homeContainer h2 {
        margin-top: 3rem;
    }
    .projectPageContainer {
        padding: 1rem;
    }
    section {
        padding: 1.5rem;
    }
    .project {
        display: inline-block;
        width: 28rem;
    }
    .project:hover {
        animation: projectHover 0.1s forwards;
    }
    .image {
        margin-top: 1rem;
    }

    .slideShowContainer {
        margin-top: 1rem;
    }
    .slideShowContent {
        max-height: 700px;
    }
    .slideShowContent .beforeAfterToggle {
        width: 33%;
        padding: 1rem;
        margin-top: 0.5rem;
        margin-right: auto;
        margin-left: auto;
        font-size: 1.25rem;
    }
    .slideShowCaption {
        padding: 0.75rem;
        font-size: 1.25rem;
    }
}

/* extra large devices */
@media (min-width: 1200px) {
    .slideshowNav {
        transform: translate(50%, -25%);
    }
    .slideShowContent {
        max-height: 800px;
    }
}

/* animations */
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes projectHover {
    from {
        z-index: auto;
        transform: scale(1);
    }
    to {
        z-index: 1;
        transform: scale(1.25);
    }
}

@keyframes projectHoverSmall {
    from {
        z-index: auto;
        transform: scale(1);
    }
    to {
        z-index: 1;
        transform: scale(1.1);
    }
}

@keyframes modalExpand {
    from {
        transform: scale(0);
    } to {
        transform: scale(1);
    }
}
