{% layout project %}

{% block main %}
    <section class="about">
        <h2>Jack Compiler</h2>
        <p>An implementation of the Jack Compiler for Nand2Tetris Part 2 written in Python. This is an academic project which translates Jack source code into a intermediate VM representation. The VM representation is similar in design to Java bytecode.</p>
        <h4>My Role</h4>
        <p>Developer</p>
        <h4>Technology</h4>
        <p>Python</p>
        <h4>Source Code</h4>
        <p><a href="https://github.com/st003/nand2tetris/tree/main/projects/11/JackCompiler/src" target="_blank">https://github.com/st003/nand2tetris/tree/main/projects/11/JackCompiler/src</a></p>
    </section>

    <section class="image">
        <img src="{% path static/img/vm/jack-vm-translator.png %}" alt="source code">
    </section>
{% endblock %}

{% block footer %}
    <a href="{% path projects/vm/index.html %}">&#10094; Previous</a>
    <span></span>
    <a class="next" href="{% path projects/ecom/index.html %}">Next &#10095;</a>
{% endblock %}
