{% layout base %}

{% block main %}
    <section class="about">
        <h2>Restaurant Ordering System (CS50W)</h2>
        <p>A Python Django-based web-application for making online orders for a pizza restaurant. This was one of the assignments for HarvardX CS50W. The core goals were to create a web-application with customer registration, a menu, and a means of placing an order. Additionally, restaurant staff also needed to track which orders were paid and use the Django admin to make changes to the menu.</p>
        <h4>My Role</h4>
        <p>I designed and developed this application based on a course rubrik</p>
        <h4>Technology</h4>
        <p>Python, JavaScript, Django, Bootstrap, SQLite</p>
        <h4>Source Code</h4>
        <p><a href="https://github.com/st003/CS50w-project3" target="_blank">https://github.com/st003/CS50w-project3</a></p>
    </section>

    <section class="image" onclick="openModal('imgModal')">
        <span class="instructions">Click the image to open slide show</span>
        <img src="{% path static/img/pizza/cart-01.png %}" alt="cart">
    </section>

    <div id="imgModal" class="modal">
        <div class="modalContent">
            <div id="slideshow" class="slideshow">
                <div class="slide">
                    <div class="caption">Main menu</div>
                    <div class="tallImg">
                        <img src="{% path static/img/pizza/menu-01.png %}" alt="menu">
                    </div>
                </div>
                <div class="slide">
                    <div class="caption">New customers would register for an account</div>
                    <img src="{% path static/img/pizza/register-01.png %}" alt="register">
                </div>
                <div class="slide">
                    <div class="caption">Customize an item from the main menu</div>
                    <div class="tallImg">
                        <img src="{% path static/img/pizza/item-01.png %}" alt="customize">
                    </div>
                </div>
                <div class="slide">
                    <div class="caption">Then add it to your cart</div>
                    <img src="{% path static/img/pizza/cart-01.png %}" alt="cart">
                </div>
                <div class="slide">
                    <div class="caption">Finally, review your order</div>
                    <img src="{% path static/img/pizza/review-01.png %}" alt="review">
                </div>
                <div class="slide">
                    <div class="caption">Restaurant employees can login with to mark orders as paid</div>
                    <img  src="{% path static/img/pizza/confirm-01.png %}" alt="mark complete">
                </div>

                <div class="slide">
                    <div class="caption">Or access the Django admin...</div>
                    <img src="{% path static/img/pizza/admin-01.png %}" alt="django admin 1">
                </div>
                <div class="slide">
                    <div class="caption">...to modify the menu</div>
                    <img src="{% path static/img/pizza/admin-02.png %}" alt="django admin 2">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <a href="{% path projects/im/index.html %}">&#10094; Previous</a>
    <span></span>
    <a class="next" href="{% path projects/olp/index.html %}">Next &#10095;</a>
{% endblock %}
