{% layout project %}

{% block main %}
    <section class="about">
        <h2>Hack Assembler</h2>
        <p>An implementation of the Hack Assembler for Nand2Tetris Part 1 written in Go. This is an academic project.</p>
        <h4>My Role</h4>
        <p>Developer</p>
        <h4>Technology</h4>
        <p>Go</p>
        <h4>Source Code</h4>
        <p><a href="https://github.com/st003/nand2tetris/tree/main/projects/6/HackAssembler" target="_blank">https://github.com/st003/nand2tetris/tree/main/projects/6/HackAssembler</a></p>
    </section>

    <section class="image">
        <img src="{% path static/img/assem/hack-assembler.png %}" alt="source code">
    </section>
{% endblock %}

{% block footer %}
    <a href="{% path projects/leo/index.html %}">&#10094; Previous</a>
    <span></span>
    <a class="next" href="{% path projects/vm/index.html %}">Next &#10095;</a>
{% endblock %}
