{% layout project %}

{% block main %}
    <section class="about">
        <h2>Enterprise Learning Management System (LMS)</h2>
        <p>A proprietary Java-based web-application backed by a Microsoft SQL database designed for delivering web-based training content to users. This software has been used in the insurance, mining, higher education, and healthcare industries.</p>
        <p>Core features include: AICC, SCORM 1.2, and SCORM 2004 3rd Edition compatible course communications, user authentication, reporting, email notifications, and a direct-to-customer e-commerce module. I was part of a team of developers on this project and over the course of a decade designed, developed, and shipped numerous enhancements.</p>
        <p>Notable contributions include:</p>
        <ul>
            <li>Support for SCORM 1.2 and SCORM 2004 3rd Edition course communications</li>
            <li>A complete rewrite of the user interface &#8212; transitioning from server-side rendering via JSP to a single page application using REST APIs and the Vue.js framework</li>
            <li>An e-commerce module which connects to the Stripe and Authorize.net payment gateways</li>
            <li>A large file upload utility for adding new course content</li>
            <li>A version 2 suite of REST APIs</li>
            <li>A graphical reporting dashboard</li>
            <li>Moving build systems from Apache Ant to Apache Maven</li>
        </ul>
        <h4>My Role</h4>
        <p>Frontend &amp; backend developer, Designer, QA</p>
        <h4>Technology</h4>
        <p>Java, Java EE, JavaScript, Vue.js, Microsoft SQL Server, Apache Tomcat, Apache HTTP Server, RedHat Enterprise Linux</p>
        <h4>Source Code</h4>
        <p>This project is not open source</p>
    </section>

    <div class="XslideShowContainer">
        <button class="XslideShowButton">&#10094;</button>
        <div class="XslideShowContentContainer">
            <div class="XslideShowContent active">
                <div class="XslideShowCaption">Each user has a unique login</div>
                <button class="beforeAfterToggle" onclick="toggleBeforeAfter(this)">Show Old</button>
                <div class="XslideShowImgContainer">
                    <img class="before" src="{% path static/img/olp/login-01b.png %}" alt="old login page">
                    <img class="after" src="{% path static/img/olp/login-01a.png %}" alt="redesigned login page">
                </div>
            </div>
            <div class="XslideShowContent">
                <div class="XslideShowCaption">Shopping cart for business to customer transactions</div>
                <div class="XslideShowImgContainer">
                    <img src="{% path static/img/olp/shopping-cart-01.png %}" alt="shopping cart page">
                </div>
            </div>
            <div class="XslideShowContent">
                <div class="XslideShowCaption">The training catalog can be customized per user</div>
                <button class="beforeAfterToggle" onclick="toggleBeforeAfter(this)">Show Old</button>
                <div class="XslideShowImgContainer">
                    <img class="before" src="{% path static/img/olp/my-courses-01b.png %}" alt="old my courses page">
                    <img class="after" src="{% path static/img/olp/my-courses-01a.png %}" alt="redesigned my courses page">
                </div>
            </div>
            <div class="XslideShowContent">
                <div class="XslideShowCaption">Mobile support</div>
                <div class="XslideShowImgContainer">
                    <img class="mobile" src="{% path static/img/olp/my-courses-02.png %}" alt="my courses page phone">
                </div>
            </div>
            <div class="XslideShowContent">
                <div class="XslideShowCaption">Dashboard for graphical reporting</div>
                <div class="XslideShowImgContainer">
                    <img src="{% path static/img/olp/dashboard-01.png %}" alt="dashboard page">
                </div>
            </div>
            <div class="XslideShowContent">
                <div class="XslideShowCaption">Reporting for managers and administrators</div>
                <button class="beforeAfterToggle" onclick="toggleBeforeAfter(this)">Show Old</button>
                <div class="XslideShowImgContainer">
                    <img class="before" src="{% path static/img/olp/records-01b.png %}" alt="old reports page">
                    <img class="after" src="{% path static/img/olp/records-01a.png %}" alt="redesigned reports page">
                </div>
            </div>
            <div class="XslideShowContent">
                <div class="XslideShowCaption">Redesigned GUI for report filters</div>
                <div class="XslideShowImgContainer">
                    <img src="{% path static/img/olp/records-02.png %}" alt="reports filters">
                </div>
            </div>
            <div class="XslideShowContent">
                <div class="XslideShowCaption">Support for user profile management</div>
                <button class="beforeAfterToggle" onclick="toggleBeforeAfter(this)">Show Old</button>
                <div class="XslideShowImgContainer">
                    <img class="before" src="{% path static/img/olp/new-user-01b.png %}" alt="old new user page">
                    <img class="after" src="{% path static/img/olp/new-user-01a.png %}" alt="redesigned new user page">
                </div>
            </div>
            <div class="XslideShowContent">
                <div class="XslideShowCaption">Administrators can upload new course content...</div>
                <div class="XslideShowImgContainer">
                    <img src="{% path static/img/olp/course-file-upload-01.png %}" alt="course file upload page">
                </div>
            </div>
            <div class="XslideShowContent">
                <div class="XslideShowCaption">Customize course configurations...</div>
                <button class="beforeAfterToggle" onclick="toggleBeforeAfter(this)">Show Old</button>
                <div class="XslideShowImgContainer">
                    <img class="before" src="{% path static/img/olp/new-course-01b.png %}" alt="old new course page">
                    <img class="after" src="{% path static/img/olp/new-course-01a.png %}" alt="redesigned new course page">
                </div>
            </div>
            <div class="XslideShowContent">
                <div class="XslideShowCaption">And global system configurations</div>
                <button class="beforeAfterToggle" onclick="toggleBeforeAfter(this)">Show Old</button>
                <div class="XslideShowImgContainer">
                    <img class="before" src="{% path static/img/olp/system-management-01b.png %}" alt="old system management page">
                    <img class="after" src="{% path static/img/olp/system-management-01a.png %}" alt="redesigned system management page">
                </div>
            </div>
        </div>
        <button class="XslideShowButton">&#10095</button>
    </div>
{% endblock %}

{% block footer %}
    <a href="{% path projects/ecom/index.html %}">&#10094; Previous</a>
    <span></span>
    <a class="next" href="{% path projects/kt/index.html %}">Next &#10095;</a>
{% endblock %}
