<!DOCTYPE html>
<html lang="en">
    {{ head }}
    <body>
        <div class="contentContainer">
            <header>
                <a class="title" href="{% path index.html %}">
                    <h1>
                        <span class="titleName">Stuart Calcote</span>
                        <span class="titleDivider"> | </span>
                        <span class="titleJob">Full Stack Web Developer</span>
                    </h1>
                </a>
                <div class="social-media">
                    <a href="https://github.com/st003" target="_blank">
                        <i class="bi bi-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/stuart-j-calcote" target="_blank">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </div>
            </header>
            <main class="projectPageContainer">
                {% block main %}
            </main>
        </div>
        <footer>
            {% block footer %}
        </footer>
    </body>
</html>
