{% layout base %}

{% block main %}
    <section class="about">
        <h2>Admin Tool #2</h2>
        <p>This is a simple Python Flask-based web-application that listens for HTTP POSTs on a designated endpoint then prints the incoming data to the user interface via websockets. Its primary use-case was for testing webhooks for other internal applications.</p>
        <h4>My Role</h4>
        <p>I designed, developed, deployed, and maintained the entirety of this application</p>
        <h4>Technology</h4>
        <p>Python, JavaScript, Flask, Socket.IO, Gunicorn, Nginx, Rocky Linux</p>
        <h4>Source Code</h4>
        <p>This project is not open source</p>
    </section>

    <section class="image">
        <img src="{% path static/img/wh/home-01.png %}" alt="data displays screens">
    </section>
{% endblock %}

{% block footer %}
    <a href="{% path projects/flashcards/index.html %}">&#10094; Previous</a>
    <span></span>
    <a class="next" href="{% path projects/static/index.html %}">Next &#10095;</a>
{% endblock %}
